#canvas {
  height: 100vh;
  width: 100vw;
  position: absolute;

  top: 0;
  left: 0;
  z-index: -10;

  background-color: #FFE0B8;
}

body {
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}
.app {
  width: 100vh;
  height: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}